div.admission-documents_bg-color
  div.admission-documents.wrapper-width
    h3.admission-documents__title Документы при поступлении
    ul.admission-documents__list
      li Заявление на обучение
      li Документ, удостоверяющий личность
      li Медицинская справка единого образца о допуске к управлению транспортным средством
      li Индивидуальная карточка (если выдавалась ранее органом гостехнадзора другого субъекта РФ)
      li фото 3х4 ( 2 шт, матовые)
      li Перевод гражданского паспорта на русский язык, заверенный установленным порядком (для иностранных граждан и лиц без гражданства)
      li Оригинал и копию удостоверения на право управления самоходными машинами, выданного в другом государстве (для иностранных граждан и лиц без гражданства)
      li Копия водительского удостоверения (при наличии)
      li Копия удостоверения тракториста-машиниста (при наличии)