// --start Bread crumbs2
div.bread-crumbs2.wrapper-width
  a.bread-crumbs2__link(href="index.html") Главная
  span.bread-crumbs__link-delimiter  /&nbsp;
  a.bread-crumbs2__link.bread-crumbs2__link_active #{nameBreadCrumbs}
  h1.bread-crumbs__title-page #{nameBreadCrumbs}
// --end Bread crumbs2