// --start Bread crumbs
div.bread-crumbs(class=`bread-crumbs_${bgBreadCrumbs}`)
  div.wrapper-width.bread-crumbs_wrap
    a.bread-crumbs__link(href="index.html") Главная
    span.bread-crumbs__link-delimiter  /&nbsp;
    a.bread-crumbs__link.bread-crumbs__link_active #{nameBreadCrumbs}
    h1.bread-crumbs__title-page #{nameBreadCrumbs}
// --end Bread crumbs