<!-- --start Feedback form -->
div.feedback-form.feedback-form_background
  div.feedback-form_width
    section
      h2.title-block Записаться на обучение
      form.feedback-form__forma(action="")
        input.feedback-form__input(type="text" placeholder="Ваше имя")
        input.feedback-form__input(type="tel" placeholder="Ваш телефон")
        input.feedback-form__input(type="text" placeholder="Выберите направление")
        button.button.button_marg-feedform.button_form-color Отправить

<!-- --end Feedback form -->