<!-- -start FOOTER -->
footer.footer
  div.footer_align-flex.wrapper-width
    div.footer__adres
      h2.logo.logo_color-white Агро Класс
      p.footer__city г. Новоалтайск,
        br
        |ул. Октябрьская, дом 9А, 3 этаж
        br
        |ул. Гагарина, дом 7
      p.footer__city г. Барнаул,
        br
        |пр. Социалистический, д 109, офис 424
    div.footer__menu

    div.footer__contacts
      p
        span Телефон
        a(href="tel:83853246777") 8 (38532) 46-777
      p
        span E-mail
        a(href="mailto:agro-klass22@yandex.ru") agro-klass22@yandex.ru
      a(href="#") Политика конфиденциальности
<!-- -end FOOTER -->