<!-- -start FOOTER -->
footer.footer
  div.footer_align-flex.wrapper-width
    <!-- --start Adres -->
    div.footer__adres
      a.logo.logo_seting-footer(href="index.html") Агро Класс
      p.footer__city г. Новоалтайск,
        br
        |ул. Октябрьская, дом 9А, 3 этаж
        br
        |ул. Гагарина, дом 7
      p.footer__city г. Барнаул,
        br
        |пр. Социалистический, д 109, офис 424
    <!-- --end Adres -->


    div.footer-menu
      ul.footer-menu__wrap-link
        li.footer-menu__link
          a.footer-menu__link-item(href="about-company.html") О компании
        li.footer-menu__link
          a.footer-menu__link-item(href="shares.html") Акции
        li.footer-menu__link
          a.footer-menu__link-item(href="news.html") Новости
        li.footer-menu__link
          a.footer-menu__link-item(href="contacts.html") Контакты
      ul.footer-menu__wrap-link
        li.footer-menu__link
          a.footer-menu__link-item(href="driving-school.html") Автошкола
        li.footer-menu__link
          a.footer-menu__link-item(href="training-specequipment.html") Обучение на спецтехнике
        li.footer-menu__link
          a.footer-menu__link-item(href="extra-education.html") Дополнительное образование

    div.footer-contacts
      p.footer-contacts__wrap-section
        |Телефон
        br
        a.footer-contacts__tel(href="tel:83853246777") 8 (38532) 46-777
      p.footer-contacts__wrap-section
        |E-mail
        br
        a.footer-contacts__email(href="mailto:agro-klass22@yandex.ru") agro-klass22@yandex.ru
      a.footer-contacts__priv-policy.footer-contacts__priv-policy_position(href="#") Политика конфиденциальности
<!-- -end FOOTER -->