header.header

  nav.menu-pages
    ul.menu-pages__links.wrapper-width
      li.menu-pages__link
        a.menu-pages__link-item(href="#") О компании
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Акции
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Новости
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Контакты
      li.menu-pages__link_floatleft.menu-pages__link_background
        a.menu-pages__link-item(href="#") Получить консультацию

  div.contacts
    div.wrapper-width
      h2.logo Агро Класс



  div