<!-- -start HEADER -->
header.header

  <!-- --start Menu -->
  nav.menu-pages
    ul.menu-pages__links.wrapper-width
      li.menu-pages__link
        a.menu-pages__link-item(href="#") О компании
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Акции
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Новости
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Контакты
      li.menu-pages__link_floatleft.menu-pages__link_background
        a.menu-pages__link-item(href="#") Получить консультацию
  <!-- --end Menu -->

  <!-- --start Contacts -->
  div.contacts
    div.contacts_align-flex.wrapper-width
      <!-- ---LOGO -->
      a.logo(href="index.html") Агро Класс
      <!-- ---ADRES -->
      div.adres
        b г. Новоалтайск
        br
        |ул. Октябрьская, 9а (3 этаж, ТК "Крокус")
      <!-- ---EMAIL -->
      div.email
        span.contacts__section-heading Пишите
        br
        a.email_link(href="mailto:agro-klass22@yandex.ru") agro-klass22@yandex.ru
      <!-- ---PHONE -->
      a.phone(href="tel:83853246777")
        div.contacts_wrapper-phone
          span.contacts__section-heading Звоните
          br
          span.phone__code (38532)
        span.phone__number 46-777
  <!-- --end Contacts -->

  <!-- --start Menu education -->
  nav.menu-educat
    ul.menu-educat__links.wrapper-width
      li
        a.menu-educat__link-item(href="#") Обучение на спецтехнику
      li
        a.menu-educat__link-item(href="#") Дополнительное образование
      li
        a.menu-educat__link-item(href="#") Автошкола
  <!-- --end Menu education -->
<!-- -end HEADER -->