<!-- start HEADER -->
header.header

  nav.menu-pages
    ul.menu-pages__links.wrapper-width
      li.menu-pages__link
        a.menu-pages__link-item(href="#") О компании
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Акции
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Новости
      li.menu-pages__link
        a.menu-pages__link-item(href="#") Контакты
      li.menu-pages__link_floatleft.menu-pages__link_background
        a.menu-pages__link-item(href="#") Получить консультацию

  div.contacts
    div.contacts_align-flex.wrapper-width
      h2.logo Агро Класс

      div.mail-adres
        b г. Новоалтайск
        br
        |ул. Октябрьская, 9а (3 этаж, ТК "Крокус")
      div.mail-adres__email
        span.contacts__section-heading Пишите
        br
        a.mail-adres__email_link(href="mailto:agro-klass22@yandex.ru") agro-klass22@yandex.ru

      a.phone(href="tel:3853246777")
        div.contacts_wrapper-phone
          span.contacts__section-heading Звоните
          br
          span.phone__code (38532)
        span.phone__number 46-777

