div.license_wrap-bg
  div.license.wrapper-width
    h2.title-block Лицензии
    div.license__wrap-img
      img.license__img(src="/img/license.png")
      img.license__img(src="/img/license.png")
      img.license__img(src="/img/license.png")
      img.license__img(src="/img/license.png")