div.license_wrap-bg
  div.license.wrapper-width
    h2.title-block Лицензии
    div.license__wrap-img
      img.license__img(src="/img/licenses/license1.jpg")
      img.license__img(src="/img/licenses/license2.jpg")
      img.license__img(src="/img/licenses/license3.jpg")
      //img.license__img(src="/img/licenses/license3.jpg")