div#openModal.modal
  div.modal__dialog
    div.modal__content
      div.modal__header
        h3.modal__title Получить консультацию
        a.close(href="#close" title="Close") ×

      div.modal__body Содержимое модального окна...