<!-- --start Feedback form modal -->
div#openModal.modal
  div.modal__dialog
    div.modal__content
      h3.title-block Получить консультацию
      a.close(href="#close" title="Close") ×


      form.feedback-form__forma.modal__body(action="")
        input.feedback-form__input(type="text" placeholder="Ваше имя")
        input.feedback-form__input(type="tel" placeholder="Ваш телефон")
        input.feedback-form__input(type="text" placeholder="Выберите направление")
        button.button Отправить
<!-- --end Feedback form modal -->