div.our-classes_wrap-bg
  div.our-classes.wrapper-width
    h2.title-block Наши классы
    div.our-classes__wrap-img
      img.our-classes__img(src="/img/our-classes/class1.jpg")
      img.our-classes__img(src="/img/our-classes/class2.jpg")
      img.our-classes__img(src="/img/our-classes/class3.jpg")
      img.our-classes__img(src="/img/our-classes/class4.jpg")