div.our-employees_wrap-bg
  div.our-employees.wrapper-width
    h2.title-block Наши сотрудники
    div.our-employees__wrap-img
      img.our-employees__img(src="/img/our-employees/employee1.jpg")
      img.our-employees__img(src="/img/our-employees/employee2.jpg")
      img.our-employees__img(src="/img/our-employees/employee3.jpg")
      img.our-employees__img(src="/img/our-employees/employee4.jpg")