include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- var titlePage = 'Карточка новости';
- var nameBreadCrumbs = 'Обновили автопарк';

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header

    <!-- -start MAIN -->
    main.main-bgcolor#content
      include includes/bread-crumbs2

      div.news-card
        img(src="/img/new/new-prev.jpg")
        p.news-card__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat vitae in sit ultricies porttitor ullamcorper scelerisque sodales. Consectetur eget duis sit duis elit, amet. Porttitor amet morbi pharetra eget vulputate pulvinar tincidunt luctus. Sem porttitor iaculis ullamcorper pharetra, facilisi morbi non dictum. Ultrices dui dictum semper morbi eu massa erat. Metus suspendisse vitae, ligula in aliquam netus. Ac, ornare auctor eu urna, egestas duis. Ipsum turpis quis quam nulla. Sapien blandit odio purus adipiscing. Nibh placerat consectetur egestas vitae. Habitant lorem massa vulputate facilisi amet. Pellentesque sed ultrices nulla vestibulum pharetra potenti porttitor duis. Gravida quis non nullam rhoncus dui posuere purus purus, sagittis. Volutpat odio quam nisi volutpat tincidunt vulputate facilisi cras enim. Et id dignissim ligula fermentum vivamus arcu mattis arcu eu. Vitae, commodo scelerisque tincidunt viverra sagittis amet. Sollicitudin ut sed donec dictumst purus. Consequat lacinia curabitur nibh urna. Felis, diam sit faucibus convallis cras egestas tortor, nisi.


    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback