include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- var titlePage = 'водитель погрузчика';
- var nameBreadCrumbs = 'Водитель погрузчика (В, С, Д, Е) – 160ч';

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header

    <!-- -start MAIN -->
    main.main-bgcolor#content
      include includes/bread-crumbs2

      div.category-desc.wrapper-width
        img(src="/img/category-card/img-card.jpg")
        p Машинист погрузчика — это работник, который круглый год будет востребован. Многие люди хотят знать, чем занимается подобный водитель, где можно обучиться на такую специальность и на какую заработную плату можно рассчитывать.

        h3.category-desc__title Особенности профессии

        div
          p Работа машиниста погрузчика напрямую связана со строительством. Данная специальность необходима практически на каждом этапе деятельности, начиная с нуля. В таком работнике нуждаются также и на складе, где требуется осуществить перевозку товара с большой массой. За счет современных подъемно-транспортных средств производится раскопка траншей, котлованов, наряду с транспортировкой разного рода предметов.

          p Машинист погрузчика обязан периодически осматривать вверенное ему транспортное средство и производить ремонт в случае обнаружения неисправностей. По этой причине человек, который хочет овладеть данной профессией, обязан знать особенности строения узлов ТС, уметь их ремонтировать и обладать физической силой, так как она порой также может потребоваться. Именно из-за сложностей в деятельности обычно такую специальность выбирают мужчины.

          p Среди положительных сторон профессии можно выделить то, что работа есть круглый год. Можно найти себе подработку или постоянное место в разных сферах, начиная от промышленности, заканчивая ЖКХ.


    include includes/feedback-form
    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback