include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- var titlePage = 'Дополнительное обучение';
- var nameBreadCrumbs = 'Дополнительное обучение';
- var bgBreadCrumbs = 'background-extra-education';

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header

    <!-- -start MAIN -->
    main.main-bgcolor#content
      include includes/bread-crumbs

      div.wrapper-width
        h2.title-block
          | Мы осуществляем
          br
          | обучение по следующим направлениям

        div.table-wrapp-scroll
          table.table
            tr.table__tr
              th.table__width-th1 Специальность
              th.table__width-th2 Стоимость
              th.table__width-th3 Повышение разряда
              th.table__width-th4 Подтверждение
              th.table__width-th5 Длительность

            tr.table__tr
              td Стропальщик  (3разряд)
              td 5 500₽
              td 2 000₽ (4-5 разряд)
              td 500₽
              td.text-center 120 часов

            tr.table__tr
              td Газорезчик (3 разряд)
              td 5 500₽
              td 2 000₽ (4-5 разряд)
              td 500₽
              td.text-center 210 часов

            tr.table__tr
              td Монтажник стальных и железобетонных конструкций (3разряд)
              td 5 500₽
              td 2 000₽ (4-5 разряд)
              td 500₽
              td.text-center 160 часов

            tr.table__tr
              td Штукатур (3 разряд)
              td 5 500₽
              td 2 000₽ (4-5 разряд)
              td 500₽
              td.text-center 240 часов

            tr.table__tr
              td Маляр (3 разряд)
              td 5 500₽
              td 2 000₽ (4-5 разряд)
              td 500₽
              td.text-center 120 часов

            tr.table__tr
              td Машинист компрессорных установок(3разряд)
              td 8 000₽
              td 3 000₽ (4-5 разряд)
              td 1 500₽
              td.text-center 320 часов

            tr.table__tr
              td Машинист  насосной установки(3разряд)
              td 8 000₽
              td 3 000₽ (4-5 разряд)
              td 1 500₽
              td.text-center 320 часов

            tr.table__tr
              td Машинист крана- манипулятора (4 разряд)
              td 10 000₽
              td 4 000₽ (5 разряд)
              td 1 500₽
              td.text-center 376 часов

            tr.table__tr
              td Машинист автовышки и гидроподъемника (4 разряд)
              td 10 000₽
              td 4 000₽ (5 разряд)
              td 1 500₽
              td.text-center 376 часов

            tr.table__tr
              td Машинист паровой передвижной депарафинизационнойустановки (3р)
              td 8 000₽
              td 3 000₽ (4-5 разряд)
              td 1 500₽
              td.text-center 320 часов

            tr.table__tr
              td Слесарь по ремонту  дорожно-строительных машин и тракторов (4 р)
              td 10 000₽
              td 4 000₽ (5 разряд)
              td 500₽
              td.text-center

            tr.table__tr
              td Машинист автомобильного крана (4 разряд)
              td 10 000₽
              td 4 000₽ (5 разряд)
              td 1 500₽
              td.text-center

            tr.table__tr
              td Электрогазосварщик (3 разряд)
              td 5 500₽
              td 2 000₽ (4-6 разряд)
              td 1 500₽
              td.text-center

            tr.table__tr
              td Электросварщик ручной сварки (3 разряд)
              td 5 500₽ (3 разряд- 242ч (122 теория, 120практика))
              td 2 000₽ (4-5,6разряд(теория 102, практика 76)
              td 500₽
              td.text-center

            tr.table__tr
              td Электросварщик на автоматических и полуавтоматических машинах (3 разряд)
              td 5 500₽
              td 2 000₽ (4-6 разряд)
              td 500₽
              td.text-center

            tr.table__tr
              td Бетонщик (3 разряд)
              td 5 500₽
              td 2 000₽ (4-6 разряд)
              td 500₽
              td.text-center

            tr.table__tr
              td Арматурщик (3 разряд)
              td 5 500₽
              td 2 000₽ (4-6 разряд)
              td 500₽
              td.text-center

            tr.table__tr
              td Арматурщик (3 разряд)
              td 5 500₽
              td 2 000₽ (4-6 разряд)
              td 500₽
              td.text-center

        div.callout
          p
            b Допуск на высотные работы 1 группы
            | – 1500 рублей – 40ч.
          p
            b Пожарный талон
            | – 500 рублей – 8ч.




      include includes/license
      include includes/feedback-form
    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback