include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';

doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title Агро Класс
  body
    include includes/header

    h2 Pug

    include includes/footer