include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';

doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title Агро Класс
  body
    include includes/header

    <!-- -start MAIN -->
    main.main#content
      <!-- --start Banner -->
      div.banner
        div.banner_wrap.wrapper-width
          h1.banner__heading
            |Профессиональная
            br
            |подготовка и переподготовка
            br
            |трактористов-машинистов
            br
            |Квалификации рабочих профессий
          button.button.button_marg-banner(onclick="document.location='#openModal'") Получить консультацию
      <!-- --end Banner -->

      <!-- --start Training areas -->
      article.training-areas.wrapper-width
        h2.title-block
          |Мы осуществляем
          br
          |обучение по следующим направлениям

        div.training-areas__categories
          div.training-areas__categories-item
            img.training-areas__img(src="/img/home/training-areas1.png")
            a.training-areas__link(href="#") Водитель погрузчика категорий «В»,«С»,«D», штабелера, ричтрака.
          div.training-areas__categories-item
            img.training-areas__img(src="/img/home/training-areas2.png")
            a.training-areas__link(href="#") Машинист экскаватора, бульдозера категорий «С» «D» «Е» (трудоустройтво).
          div.training-areas__categories-item
            img.training-areas__img(src="/img/home/training-areas3.png")
            a.training-areas__link(href="#") Тракторист категорий «В» «С» «D» «Е».
          div.training-areas__categories-item
            img.training-areas__img(src="/img/home/training-areas4.png")
            a.training-areas__link(href="#") Водитель внедорожных мототранспортных средств категория А1 и водитель внедорожных автотранспортных средств категории А2,А3.

        a.training-areas__link-fullcategories(href="#") Смотреть все направления
          img(src="/img/home/link-fulltraining-areas.png")
      <!-- --end Training areas -->

      <!-- --start Block categories -->
      article.block-categories.wrapper-width
        h2.title-block
          |Профессиональное
          br
          |обучение на тракториста-машиниста

        div.block-categories__wrap
          div.block-categories__item
            h3.block-categories__heading Категория "А1"
            p.block-categories__descript автомототранспортные средства, не предназначенные для движения по автомобильным дорогам общего пользования
          div.block-categories__item
            h3.block-categories__heading Категория "А2"
            p.block-categories__descript автомототранспортные средства,не предназначенные для движения по автомобильным дорогам общего пользования
          div.block-categories__item
            h3.block-categories__heading Категория "А3"
            p.block-categories__descript внедорожные автотранспортные средства,разрешенная максимальная масса которых превышает 3500 кг(за исключением относящихся к категории "А4"). Трудоустройство в Искитимском районе Новосибирской области на разрезе "Восточный", жильем обеспечивает работодатель.
          div.block-categories__item
            h3.block-categories__heading Категория "В"
            p.block-categories__descript гусенечные и колёсные машины с двигателем мощьностью до 25,7 кВт
          div.block-categories__item
            h3.block-categories__heading Категория "С"
            p.block-categories__descript колёсные машины с двигателем мощьностью от 25,7 до 110,3 кВт
          div.block-categories__item
            h3.block-categories__heading Категория "D"
            p.block-categories__descript колёсные машины с двигателем мощьностью свыше 110,3 кВт
          div.block-categories__item
            h3.block-categories__heading Категория "Е"
            p.block-categories__descript гусенечные машины с двигателем мощьностью свыше 25,7 кВт
          div.block-categories__item
            h3.block-categories__heading Категория "F"
            p.block-categories__descript самоходные сельскохозяйственные машины
          div.block-categories__item
            button.button.button_fontsize-categori узнать о ближайших курсах
      <!-- --end Block categories -->

      <!-- --start Block description -->
      article.block-description.wrapper-width
        h2.title-block Автошкола “Агро класс”

        div.block-description__wrap
          div.block-description__item
            p.block-description__desc.block-description__desc_marg-bottom ООО «Агро-Класс» осуществляет профессиональную подготовку и переподготовку трактористов-машинистов и квалификации рабочих профессий на основании «Лицензии на образовательную деятельность № 126 от 26 февраля 2014 г.»выданное Главным управлением образования и молодежной политики Алтайского края.
            img.block-description__img(src="/img/home/block-descript1.jpg")
          div.block-description__item
            img.block-description__img.block-description__img_marg-bottom(src="/img/home/block-descript2.jpg")
            h2.title-block.title-block_display-none ГАРАНТИИ ТРУДОУСТРОЙСТВА
            p.block-description__desc Сотрудничают по рабочим местам: колхозниками, центром занятости, строительные организации, кемеровским разрезом. То есть компания дает рекомендации (помощь в трудоустройстве) для людей прошедших обучение.

      <!-- --end Block description -->

      <!-- --start Our partners -->
      article.our-partners.wrapper-width
        h2.title-block Наши партнеры
        div.our-partners_overflow
          img.our-partners__img(src="/img/home/our-partners.png")
      <!-- --end Our partners -->

      include includes/feedback-form
    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback