include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- var titlePage = 'Обучение на спецтехнику';
- var nameBreadCrumbs = 'Обучение на спецтехнику';
- var bgBreadCrumbs = 'background-training-specequipment';

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header

    <!-- -start MAIN -->
    main.main-bgcolor#content
      include includes/bread-crumbs

      article.training-specequipment-areas.wrapper-width
        h2.title-block
          | Мы осуществляем
          br
          | обучение по следующим направлениям

        div.training-specequipment-areas__wrap
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta1.png")
            div.training-specequipment-areas__descript
              b Снегоход-квадроцикл А1
              span 8 000р.
              span Вождение 1000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta2.png")
            div.training-specequipment-areas__descript
              b Трэкол А2
              span 12 000р.
              span Вождение 1000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta3.png")
            div.training-specequipment-areas__descript
              b БЕЛАЗ А3
              span 15 000р.
              span Вождение 2000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta4.png")
            div.training-specequipment-areas__descript
              b Самоходные машины
              |(перевозка пассажиров более 8 мест) А4
              span 20 000р.
              span Вождение 2000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta5.png")
            div.training-specequipment-areas__descript
              b Тракторист
              | (до 25.7 мини-трактор) В
              span 8 000р.
              span Вождение 1000р. 1,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta6.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | (От 25,7 до 110,3квт) С
              span 10 000р.
              span Вождение 1000р. 2 мес. 3,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta7.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | (от мал.до 110,3 квт ) В С
              span 14 000р.
              span Вождение на кажд. виде тр. 1000р. 3,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta8.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | Выше 110.3квт(типа К-700) D
              span 10 000р.
              span Вождение 1500р. 2 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item.training-specequipment-areas__categories-item_horizontal-view
            img(src="/img/trainining-specequipment/trainining-specequipment-ta9.png")
            div.training-specequipment-areas__descript
              b Гусеничный трактор Е
              span 10 000р.
              span Вождение 1000р. 2 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item.training-specequipment-areas__categories-item_horizontal-view
            img(src="/img/trainining-specequipment/trainining-specequipment-ta10.png")
            div.training-specequipment-areas__descript
              b Комбайны F
              span 20 000р.
              span Вождение 1000р. 4 мес.

      div.wrapper-width
        table.table.table_width100
          tr.table__tr_name-table
            th Повышение квалификации
            th
            th

          tr.table__tr
            td
              b Специальность
            td.text-center
              b Категория
            td.text-center
              b Цена

          tr.table__tr.table__tr_font-w
            td Водитель погрузчика
            td.text-center В,С,Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист-автогрейдера
            td.text-center С,Д
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист-бульдозера
            td.text-center С,Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист- экскаватора
            td.text-center В,С,Д,Е.
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист катка
            td.text-center В,С,Д
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист укладчика асфальтобетона
            td.text-center В,С,Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист крана на гусеничном и пневмоходу
            td.text-center Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист трелевочной машины
            td.text-center С,Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист копра
            td.text-center Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист фрезы дорожной
            td.text-center С,Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист лесозаготовительной машины
            td.text-center Д,Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Машинист трубоукладчика
            td.text-center Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Водитель вездехода
            td.text-center Е
            td.text-center 8 000

          tr.table__tr.table__tr_font-w
            td Водитель – наставник.
            td
            td.text-center 1 200

        table.table.table_width100.mt-40
          tr.table__tr.table__tr_font-w
            td.width-50 машинист погрузочно -
              br
              | доставочной машины
            td при наличии удостоверений «Стропальщик» и «Машинист крана манипулятора»
              br
              | стоимость 8000 рублей, без удостоверений 15500 рублей.

        table.table.table_width100.mt-115
          tr.table__tr_name-table
            th Повышение квалификации
            th

          tr.table__tr
            td
              b Специальность
            td.text-center
              b Цена

          tr.table__tr.table__tr_font-w
            td Контролер технического состояния автотранспортных средств
            td.text-center 11 000

          tr.table__tr.table__tr_font-w
            td Диспетчер автомобильного транспорта
            td.text-center 11 000

          tr.table__tr.table__tr_font-w
            td Переподготовка специалистов по безопасности дорожного движения в организациях, осуществляющих перевозки пассажиров и грузов.
            td.text-center 11 000


        div.wrapper-overflow
          div.train-spec-advantages
            div.train-spec-advantages__item
              img(src="/img/trainining-specequipment/advantage-img4.png")
              p.train-spec-advantages__desc Теоретическая часть обучения проводится  в классах, оборудованных специальным образом.
            div.train-spec-advantages__item
              img(src="/img/trainining-specequipment/advantage-img3.png")
              p.train-spec-advantages__desc Практика осуществляется на полигоне с использованием современной спецтехники.
            div.train-spec-advantages__item
              img(src="/img/trainining-specequipment/advantage-img2.png")
              p.train-spec-advantages__desc Экзамен принимает главный государственный инспектор Гостехнадзора г.Барнаула, г. Новоалтайска
            div.train-spec-advantages__item
              img(src="/img/trainining-specequipment/advantage-img1.png")
              p.train-spec-advantages__desc По результатам экзаменов выдается удостоверение тракториста- машиниста в органах Гостехнадзора

      include includes/admission-documents
      include includes/license
      include includes/feedback-form
    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback