include ../../node_modules/bempug/index
- BEMPUG.modifier = '_';
- var titlePage = 'Обучение на спецтехнику';
- var nameBreadCrumbs = 'Обучение на спецтехнику';
- var bgBreadCrumbs = 'background-training-specequipment';

doctype html
html(lang="ru")
  include includes/head
  body
    include includes/header

    <!-- -start MAIN -->
    main.main-bgcolor#content
      include includes/bread-crumbs

      article.training-specequipment-areas.wrapper-width
        h2.title-block
          | Мы осуществляем
          br
          | обучение по следующим направлениям

        div.training-specequipment-areas__wrap
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta2.png")
            div.training-specequipment-areas__descript
              b Снегоход-квадроцикл А1
              span 8 000р.
              span Вождение 1000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta3.png")
            div.training-specequipment-areas__descript
              b Трэкол А2
              span 12 000р.
              span Вождение 1000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta4.png")
            div.training-specequipment-areas__descript
              b БЕЛАЗ А3
              span 15 000р.
              span Вождение 2000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta5.png")
            div.training-specequipment-areas__descript
              b Самоходные машины
              |(перевозка пассажиров более 8 мест) А4
              span 20 000р.
              span Вождение 2000р. 1 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta1.png")
            div.training-specequipment-areas__descript
              b Тракторист
              | (до 25.7 мини-трактор) В
              span 8 000р.
              span Вождение 1000р. 1,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta6.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | (От 25,7 до 110,3квт) С
              span 10 000р.
              span Вождение 1000р. 2 мес. 3,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta7.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | (от мал.до 110,3 квт ) В С
              span 14 000р.
              span Вождение на кажд. виде тр. 1000р. 3,5 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item
            img(src="/img/trainining-specequipment/trainining-specequipment-ta8.png")
            div.training-specequipment-areas__descript
              b Тракторист-машинист
              | Выше 110.3квт(типа К-700) D
              span 10 000р.
              span Вождение 1500р. 2 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item.training-specequipment-areas__categories-item_horizontal-view
            img(src="/img/trainining-specequipment/trainining-specequipment-ta9.png")
            div.training-specequipment-areas__descript
              b Гусеничный трактор Е
              span 10 000р.
              span Вождение 1000р. 2 мес.
          a(href="category-card.html").training-specequipment-areas__categories-item.training-specequipment-areas__categories-item_horizontal-view
            img(src="/img/trainining-specequipment/trainining-specequipment-ta10.png")
            div.training-specequipment-areas__descript
              b Комбайны F
              span 20 000р.
              span Вождение 1000р. 4 мес.

      table
        tr
          th

      include includes/admission-documents
      include includes/license
      include includes/feedback-form
    <!-- -end MAIN -->

    include includes/footer
    include includes/modal-form-feedback