.license {


  &_wrap-bg {
    background: #E5E5E5;
    padding: 110px 0 110px;
  }

  &__wrap-img {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width : 768px) {
      flex-direction: column;
    }
  }

  img {
    width: 23%;
    margin-right: 30px;
    height: 365px;
    object-fit: contain;
    border-radius: 5px;

    @media only screen and (max-width : 768px) {
      width: 100%;
      margin-bottom: 100px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}