.our-employees {


  &_wrap-bg {
    background: #E5E5E5;
    padding: 0 0 110px;
  }

  &__wrap-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width : 768px) {
      flex-direction: column;
    }
  }

  img {
    width: 22%;
    height: 365px;
    margin-right: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;

    @media only screen and (max-width : 768px) {
      width: 100%;
      margin-bottom: 100px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}