@import "normolize";
@import "circe";

/*Общие стили*/
body {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.wrapper-width {
  max-width: 1280px;
  margin: 0 auto;
}

/*-start HEADER*/
/*--start Menu*/
.menu-pages {
  background: #1D1E22;

  &__links {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 39px;
  }

  &__link {
    margin-right: 100px;

    &_floatleft {
      margin-left: auto;
    }

    &_background {
      background: #C63D3D;
      padding: 10px 15px;

      &:hover {
        background: #FFFFFF;
        cursor: pointer;

        .menu-pages__link-item {
          color: #00923F;
        }
      }
    }
  }

  &__link-item {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }
}
/*--end Menu*/

/*--start Contacts*/
.contacts {
  background: #f7f9fa;

  &__adres {
    line-height: 24px;
    margin: 0;
  }

  &__email {
    line-height: 24px;

    &_color {
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.09em;
      color: #5E606A;
    }

    &_link {
      color: #272933;

      &:hover {
        color: #00923F;
      }
    }
  }
}

.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  margin: 0;
  color: #00923F;
  line-height: 60px;
}
/*-end HEADER*/