@import "normolize";
@import "circe";

/*Общие стили*/
body {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.wrapper-width {
  max-width: 1280px;
  margin: 0 auto;
}

/*-start HEADER*/
/*--start Menu*/
.menu-pages {
  background: #1D1E22;

  &__links {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 39px;
  }

  &__link {
    margin-right: 100px;

    &_floatleft {
      margin-left: auto;
    }

    &_background {
      background: #C63D3D;
      padding: 10px 15px;

      &:hover {
        background: #FFFFFF;
        cursor: pointer;

        .menu-pages__link-item {
          color: #00923F;
        }
      }
    }
  }

  &__link-item {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }
}
/*--end Menu*/

/*--start Contacts*/
.contacts {
  background: #f7f9fa;
  padding: 20px 0 10px;

  &__section-heading {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.09em;
    color: #5E606A;
  }

  &_align-flex {
    display: flex;
    justify-content: space-between;
  }
  //&_wrapper-phone {
  //  display: flex;
  //  flex-direction: column;
  //}
}

/*---LOGO*/
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  margin: 0;
  color: #00923F;
  line-height: 60px;
  text-decoration: none;

  &_color-white {
    color: #ffffff;
  }
}

/*---ADRES*/
.adres {
  line-height: 24px;
  margin: 0;
}

/*---EMAIL*/
.email {
  line-height: 24px;

  &_link {
    color: #272933;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }
}

/*---PHONE*/
.phone {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__code {
    font-size: 20px;
    line-height: 29px;
    color: #000000;
  }

  &__number {
    font-size: 41px;
    line-height: 60px;
    color: #00923f;
    font-weight: 800;
    font-style: normal;
    margin-left: 5px;
  }
}
/*--end Contacts*/

/*--start Menu education*/
.menu-educat {
  padding: 10px 0;

  &__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  &__link-item {
    font-size: 21px;
    line-height: 31px;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }
}
/*--end Menu education*/
/*-end HEADER*/

/*-start FOOTER*/
.footer {
  background: #2C2D33;
  padding: 50px 0 70px;

  &_align-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__adres {
    color: #ffffff;
    line-height: 24px;
  }

  &__city {
    &:last-child {
      margin: 0;
    }
  }

  &__contacts {

  }
}

/*---FOOTER MENU*/
.footer-menu {
  display: flex;
  //align-items: center;

  &__wrap-link {
    padding: 0;
    margin: 0;
    list-style: none;

    &:first-child {
      margin-right: 100px;
    }

    &:first-child .footer-menu__link {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child .footer-menu__link {
      margin-bottom: 47px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link-item {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }
}
/*-end FOOTER*/