@import "normolize";
@import "circe";
@import "common";
@import "bread-crumbs";
@import "menu-gamburger";
@import "modal-form-feedback";
@import "pages/driving-school";
@import "pages/training-specequipment";
@import "pages/contacts";
@import "pages/category-card";
@import "pages/news";
@import "pages/about-company";
@import "pages/extra-education";
@import "pages/shares";
@import "admission-documents";
@import "license";
@import "our-employees";
@import "our-classes";
@import "table";


/*-start HEADER*/
/*--start Menu*/
.wrap-menu-bgcolor {
  background: #1D1E22;
}

.menu-pages {
  background: #1D1E22;
  display: flex;
  align-items: center;
  position: relative;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 39px;

    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

  &__link {
    margin-right: 100px;

    a {
      color: #FFFFFF!important;
      text-decoration: none!important;
      line-height: 24px!important;

      &:hover {
        color: #00923F!important;
      }
    }
  }

  &__button {
    border: none;
    color: #ffffff;
    text-decoration: none;

    &_floatleft {
      margin-left: auto;
      margin-right: 0;
    }

    &_background {
      background: #C63D3D;
      padding: 10px 15px;

      &:hover {
        background: #FFFFFF;
        cursor: pointer;
        color: #00923F;
      }
    }

    :focus {
      outline: none;
    }
  }
}
/*--end Menu*/

.menu-hamburger {
  margin-left: 10px;
}

/*--start Contacts*/
.contacts {
  background: #f7f9fa;
  padding: 20px 0 10px;

  &_active {
    background: #1D1E22;

    a {
      color: #ffffff!important;

      span {
        color: #ffffff!important;
      }
    }
  }

  &__section-heading {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.09em;
    color: #5E606A;

    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

  &_align-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //&_wrapper-phone {
  //  display: flex;
  //  flex-direction: column;
  //}
}

/*---LOGO*/
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  margin: 0;
  color: #00923F;
  line-height: 60px;
  text-decoration: none;

  @media only screen and (max-width : 768px) {
    font-size: 21px;
    line-height: 31px;
  }

  &_seting-footer {
    color: #ffffff;

    @media only screen and (max-width : 768px) {
      font-size: 41px;
      line-height: 60px;
    }
  }
}

/*---ADRES*/
.adres {
  line-height: 24px;
  margin: 0;

  @media only screen and (max-width : 768px) {
    display: none;
  }
}

/*---EMAIL*/
.email {
  line-height: 24px;

  &_link {
    color: #272933;
    text-decoration: none;

    &:hover {
      color: #00923F;
    }
  }

  @media only screen and (max-width : 768px) {
    display: none;
  }
}

/*---PHONE*/
.phone {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__code {
    font-size: 20px;
    line-height: 29px;
    color: #000000;

    @media only screen and (max-width : 768px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  &__number {
    font-size: 41px;
    line-height: 60px;
    color: #00923f;
    font-weight: 800;
    font-style: normal;
    margin-left: 5px;

    @media only screen and (max-width : 768px) {
      font-size: 30px;
      line-height: 44px;
    }
  }
}
/*--end Contacts*/

/*--start Menu education*/
.menu-educat {
  padding: 10px 0;

  &__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    a {
      font-size: 21px!important;
      line-height: 31px!important;
      text-decoration: none!important;
      color: #000000;

      &:hover {
        color: #00923F!important;
      }
    }
  }

  @media only screen and (max-width : 768px) {
    display: none;
  }
}
/*--end Menu education*/
/*-end HEADER*/

/*-start MAIN*/
.main-bgcolor {
  background: #E5E5E5;
}

/*--start Banner*/
.banner {
  background: url("../img/home/bg-banner.jpg");
  background-size: cover;
  padding: 185px 0 230px;
  background-position: center;

  &__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: pre-wrap;

    @media only screen and (max-width : 768px) {
      font-size: 21px;
      line-height: 33px;
    }
  }

  &_wrap {
    @media only screen and (max-width : 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width : 768px) {
    padding: 145px 0 160px;
  }
}
/*--end Banner*/

/*--start Training areas*/
.training-areas {
  padding-top: 135px;

  @media only screen and (max-width : 768px) {
    padding-top: 40px;
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      width: 22%;
      margin-bottom: 50px;

      @media only screen and (max-width : 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 55px;
      }
    }

    @media only screen and (max-width : 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    @media only screen and (max-width : 768px) {
      width: 100%;
    }
  }

  &__link {
    line-height: 21px;
    color: #1F1F25;
    text-decoration: none;
    display: block;

    &:hover {
      color: #00923F;
    }

    @media only screen and (max-width : 768px) {
      margin-top: 20px;
    }
  }

  &__link-fullcategories {
    display: block;
    font-size: 18px;
    line-height: 37px;
    color: #206534;
    text-decoration: none;
    margin-top: 40px;

    &:hover {
      color: #00923F;
    }

    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

  &_wrap-color {
    background: #E5E5E5;;
  }
}
/*--end Training areas*/

/*--start Block categories*/
.block-categories {
  margin-top: 135px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    padding: 50px 45px;

    @media only screen and (max-width : 768px) {
      padding: 50px 20px;
    }
  }

  &__item {
    width: 27%;
    margin-bottom: 45px;

    &:nth-child(n+7) {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      width: 36%;

      @media only screen and (max-width : 768px) {
        width: 100%;
      }
    }

    @media only screen and (max-width : 768px) {
      width: 100%;
    }
  }

  &__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: #324556;
    margin-top: 0;
  }

  &__descript {
    line-height: 22px;
    color: #646871;
  }

  @media only screen and (max-width : 768px) {
    margin-top: 50px;
  }
}
/*--end Block categories*/

/*--start Block description*/
.block-description {
  margin-top: 170px;

  &__wrap {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width : 768px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 46%;

    @media only screen and (max-width : 768px) {
      width: 100%;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 28px;
    color: #22262F;
    margin: 0;

    &_marg-bottom {
      margin-bottom: 100px;

      @media only screen and (max-width : 768px) {
        margin-bottom: 20px;
      }
    }

    @media only screen and (max-width : 768px) {
      font-size: 14px;
    }
  }

  &__img{
    width: 100%;

    &_marg-bottom {
      margin-bottom: 80px;
    }

    @media only screen and (max-width : 768px) {
      display: none;
    }
  }

  @media only screen and (max-width : 768px) {
    margin-top: 70px;
  }
}
/*--end Block description*/

/*--start Our partners*/
.our-partners {
  margin-top: 160px;

  &_overflow {
    @media only screen and (max-width : 768px) {
      overflow: scroll;
    }
  }

  &__img {
    width: 100%;

    @media only screen and (max-width : 768px) {
      width: 1100px;
      max-width: 1100px;
    }
  }

  @media only screen and (max-width : 768px) {
    margin-top: 90px;
  }
}
/*--end Our partners*/

/*--start Feedback form*/
.feedback-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_background {
    background: url("../img/feedback-form-bg.jpg") no-repeat;
    background-size: cover;
    height: 570px;

    @media only screen and (min-width : 1600px) {
      height: 845px;
    }
  }

  &_width {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

    @media only screen and (max-width : 768px) {
      width: 370px;
    }
  }

  &__forma {
    display: flex;
    flex-direction: column;
    width: 480px;

    @media only screen and (max-width : 768px) {
      width: 320px;
      margin: auto;
    }
  }

  &__input {
    padding: 18px 45px 18px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 38px;
    color: #000000;

    &::placeholder {
      font-size: 23px;
      line-height: 38px;
      color: #000000;
    }

    &:focus {
      outline: none;
    }
  }
}
/*--end Feedback form*/
/*-end MAIN*/


/*-start FOOTER*/
.footer {
  background: #2C2D33;
  padding: 50px 0 70px;
  position: relative;

  &_align-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width : 768px) {
      flex-direction: column;
      align-items: end;
    }
  }

  &__adres {
    color: #ffffff;
    line-height: 24px;

    @media only screen and (max-width : 768px) {
      order: 1;
    }
  }

  &__city {
    &:last-child {
      margin: 0;
    }
  }
}

/*---FOOTER MENU*/
.footer-menu {
  display: grid;
  gap: 60px;
  grid-auto-flow: column;

  @media only screen and (max-width : 768px) {
    order: 3;
  }

  &__wrap-link {
    padding: 0;
    margin: 0;
    list-style: none;

    &:first-child .footer-menu__link {
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child .footer-menu__link {
      margin-bottom: 54px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link a {
    font-size: 18px!important;
    line-height: 27px!important;
    color: #ffffff!important;
    text-decoration: none!important;

    @media only screen and (max-width : 768px) {
      font-size: 16px!important;
      line-height: 24px!important;
    }

    &:hover {
      color: #00923F!important;
    }
  }
}


/*---FOOTER CONTACTS*/
.footer-contacts {
  color: #ffffff;

  @media only screen and (max-width : 768px) {
    order: 2;
    display: flex;
    margin-top: 45px;
    margin-bottom: 70px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__wrap-section {
    margin-bottom: 30px;
    line-height: 24px;
  }

  &__tel {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    line-height: 37px;

    @media only screen and (max-width : 768px) {
      font-size: 20px;
      line-height: 29px;
    }
  }

  &__email {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;

    &:hover {
      color: #00923F;
    }
  }

  &__priv-policy {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: #00923F;
    }

    &_position {
      @media only screen and (max-width : 768px) {
        position: absolute;
        bottom: 10px;
      }
    }
  }
}
/*-end FOOTER*/